<app-navbar></app-navbar>
<div class='container-fluid'>
  <div class="card mx-auto col-md-3 col-10 mt-5">
      <img class='mx-auto img-thumbnail'
          src="https://picsum.photos/1000/1000"/>
      <div class="card-body text-center mx-auto">
          <div class='cvp'>
              <h5 class="card-title font-weight-bold">{{event.nomEvenement}}</h5>
              <p class="card-text">This campsite is in {{event.place}}</p>
              <p class="card-text">{{event.nbPlace}} places left</p>
            
              <p class="card-text">{{event.dateEvenement}} places left</p>
              <a routerLink="/listcampsites" class="btn cart px-auto">RETURN TO CAMPSITES</a>
          </div>
      </div>
  </div>

</div>