<app-navbar></app-navbar>
<div class='container-fluid'>
  <div class="card mx-auto col-md-3 col-10 mt-5">
      <img class='mx-auto img-thumbnail'
          src="https://picsum.photos/1000/1000"/>
      <div class="card-body text-center mx-auto">
          <div class='cvp'>
              <h5 class="card-title font-weight-bold">You can assest to {{event.nomEvenement}}</h5>
              <p class="card-text">This event is in {{event.place}}</p>
              <p class="card-text">{{event.nbplace}} places left</p>
              <p class="card-text">{{event.description}} </p>
              <p class="card-text">It will be in : {{event.dateEvenement}}</p>
              <a routerLink="/espaceadmin" class="btn cart px-auto">RETURN TO EVENTS</a>
          </div>
      </div>
  </div>

</div>